/* 
	css/masterboreq-classic.css
	Author: Marcin Borkowicz 2018
	Package: Classic Tetris
	Codebase: github.com/Masterboreq/tetris
	Website: boreq.com/tetris
*/
body {
	background-color: #222;
	font-family: Verdana, Helvetica sans-serif;
	font-size: 12px;
}

a {
	color: #fff;
}
#wrapper {
	border: 1px solid black;
	background: #fff url(../img/stbasil-1.jpg) no-repeat;
	background-size: 120%;
	background-position: -81px -60px;
}

#toolbar, #footer {
	border: 1px solid black;
	color: #fff;
	background-color: rgba(10,10,10, .85);
}

#toolbar {
	/*background-color: rgba(10,10,10, .65);*/
	background-origin: border-box;
	background-image: url(../img/toolbar-bg.png);
	background-size: auto 100%;
	background-position: 200px center;
	background-repeat: repeat-x;
}

#tetris-logo {
	border: 1px solid orange;
}

.menu-item {
	border-top: 2px solid rgba(10,10,10, .8);
	background-color: rgba(10,10,10, .8);
	text-align: center;
}

.menu-item:hover {
	border-top: 2px solid rgb(19, 165, 241);
	background-color: rgb(225, 183, 11);
	color: #000;
}

.menu-item a {
	/* Specjalnie pozostawione puste */
}

.menu-item:hover a {
	color: inherit;
}

#gamefield-wrapper {
	background: rgba(255,255,255, .6);
}

#gui-left, #vignette, #gui-right {
	/*background: rgba(255,255,255, .4);*/
	border: none;
}

#gui-left {
	/* Specjalnie pozostawione puste */
}

#histogram {
	background: rgba(160,37,37, 1);
}

.pile {
	position: relative;
	float: left;
	width: 21px;
	margin-left: 4px;
}

.negative {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	background: rgba(160,37,37, 1);
	z-index: 2;
}

.positive {
	background: #222;
}

.percentage {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
}

.podium {
	text-align: center;
	background-color: rgba(160,37,37, .72);
	background-position: bottom;
	background-origin: content-box;
	background-size: 20px auto;
	background-repeat: no-repeat;
	padding-bottom: 3px;
}

#y-axis { 
	background: none;
	border-left: 2px solid #000;
}

#y-podium {
	background-image: url(../img/all.png);
}

#o-podium {
	background-image: url(../img/o.png);
}

#i-podium {
	background-image: url(../img/i.png);
}

#s-podium {
	background-image: url(../img/s.png);
}

#z-podium {
	background-image: url(../img/z.png);
}

#l-podium {
	background-image: url(../img/l.png);
}

#j-podium {
	background-image: url(../img/j.png);
}

#t-podium {
	background-image: url(../img/t.png);
}

#gui-right {
	/* Specjalnie pozostawione puste */
	
}

#well {
	border: 0px solid #0ad;
}

#vignette {
	border: none;
}

#wallpaper {
	background: url(../img/babe.jpg) no-repeat -120px -150px;
	background-size: 220%;	
}
#left-bank, #right-bank, #bottom-bank {
	background-origin: border-box;
	background: rgba(10,10,10, .55);
	background-image: url(../img/bank-bg2.png);
	background-size: auto 100%;
	background-position: -1px 54px;
	background-repeat: repeat-y;
}
#right-bank {
	background-position: -1px 85px;
}
#bottom-bank {
	background-image: url(../img/bottom-bg2.png);
	background-position: -1px 0px;
	background-size: 141%;
}
.cell {
	border: 1px solid rgba(255,255,255, .2);
	background: none;
	font: 12px sans-serif;
	text-align: right;
	line-height: 20px;
}

.bumper {
	/*background-color: #8ecc15 !important; */
	display: none;
}

.row {
	/* Specjalnie pozostawione puste */
}

#row-0, #row-22, #row-23 {
	/* Specjalnie pozostawione puste */
}

div#well div div:first-child {
	/* Specjalnie pozostawione puste */
}

.clearfloat {
	/* Specjalnie pozostawione puste */
}

.buttons {
	/* Specjalnie pozostawione puste */
}

.controls {
	/* Specjalnie pozostawione puste */
}
.bold {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	display: block;
	margin: 10px 0px 0px 0px;
}
.score {
	font-size: 24px;
	font-weight: bold;
	background: rgba(160,37,37, .72);
	color: #ffd255;
}

#footer {
	/* Specjalnie pozostawione puste */
}

#footer ul li {
	padding: 3px 5px;
	border-radius: 4px;
}
#footer ul li:hover {
	background-color: rgb(225, 183, 11);
	color: #000;
}
#footer ul li:hover a {
	color: inherit;
}

/* Overlay ogólnego zastosowania pod wyświetlanie komunikatów */
#overlay {
	background: rgba(0, 0, 0, .85);
}
#overlay[mode="off"] {
	display: none;
}
#overlay[mode="on"] {
	display: none;
} /* Tutaj możliwe do zaimplementowania różne inne wartości atrybutu mode dla #overlay*/

/* Ticker ogólnego zastosowania pod wyświetlanie komunikatów */
#ticker {
	border: 1px solid #000;
	background: rgba(255,255,255, .95);
	font-family: sans-serif;
	font-size: 36px;
}
#ticker[mode="off"] {
	display: none;
}

#ticker[mode="on"] {
	display: block;
}

/* Ekran początkowy zaraz po intrze */
#init-screen {
	background-color: #900;
}
#init-screen[mode="off"] {
	display: none;
}
#init-screen[mode="on"] {
	display: block;
}

/* Ekran pauzy */
#pause-screen {
	background-color: #90a;
}
#pause-screen[mode="off"] {
	display: none;
}

#pause-screen[mode="on"] {
	display: block;
}

/* Ekran końca gry */
#end-screen {
	background-color: #050;
}
#end-screen[mode="off"] {
	display: none;
}
#end-screen[mode="on"] {
	display: block;
}

fieldset#te {
	/* Specjalnie pozostawione puste */
}

fieldset#monitor {
	background-color: none;
	border: none;
}

#next-piece {
	border: 2px solid rgb(99, 15, 9);
	border-radius: 5px;
	background: rgba(93, 141, 249, 0.48);
}

legend {
	background-color: #000;
	color: #fff;
}
/*
#spawn-button {
}

#left-button {
	width: 40px;
	right: 180px;
	top: 80px;
}

#right-button {
	width: 40px;
	right: 5px;
	top: 80px;
}

#fall-button {
	right: 50px;
	top: 80px;
}
*/