/* 
	css/tetris.css
	Author: Marcin Borkowicz 2018
	Package: Classic Tetris
	Codebase: github.com/Masterboreq/tetris
	Website: boreq.com/tetris
	Comments: application common stylesheet file
*/
.gui-pause {
	/*Specjalna klasa o pustej definicji tylko na potrzeby JS*/
}

/*
	Dodatkowe właściwości elementów, klas i selektorów uzupełnia dodatkowy plik CSS aktualnie załadowanego tematu.
*/
body {
	overflow: hidden;
	padding: 0%;
}
a {
	text-decoration: none;
}
#wrapper {
	min-width: 800px;
	width: 880px;
	height: 640px;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
}

#toolbar {
	width: 100%;
	height: 60px;
}

#tetris-logo {
	float: left;
	width: 168px;
	height: 58px;
}

.menu-item {
	float: right;
	width: 58px;
	height: 38px;
}

.menu-item a {
	display: block;
	width: 100%;
	height: 100%;
}

#gamefield-wrapper {
	position: relative;
	top: 30px;
	margin-left: 10px;
	width: 860px;
}

#gui-left, #vignette, #gui-right {
	position: relative;
	float: left;
	top: 0px;
	width: 250px;
	height: 480px;
}

#gui-left {
	width: 280px;
	height: 450px;
	padding: 30px 10px 0px 10px;
}

#histogram {
	width: 75%;
	height: 180px;
	font-size: 12px;
	margin-left: 5px;
}

.pile {
	position: relative;
	float: left;
	width: 20px;
	height: 100%;
	margin-left: 4px;
}

.negative {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	background: rgba(160,37,37, 1);
	z-index: 2;
}

.positive {
	position: relative;
	width: 100%;
	height: 100%;
}

.percentage {
	display: block;
	margin-bottom: 30px;
	text-align: center;
}

.podium {
	margin-top: 3px;
	height: 55px;
}

#y-axis, #y-podium {
	width: 25px;
	margin-left: 0px;
	margin-right: 8px;
	font-size: 10px;
}

#gui-right {
	top: 0px;
	width: 260px;
}

#well {
	width: 220px;
	height: 440px;
	position: absolute;
	left: 360px;
	top: 101px;
	margin: 0%;
	z-index: 1;
}

#vignette {
	top: 0px;
	float: left;
	width: 300px;
	height: 440px;
}

#wallpaper {
	float: left;
	width: 220px;
	height: 440px;
	
}
#left-bank, #right-bank, #bottom-bank {
	position: relative;
	float: left;
	height: 100%;
	width: 40px;
}
#right-bank {
	position: relative;
	top: 0px;
	float: left;
}
#bottom-bank {
	width: 100%;
	height: 40px;
}
.cell {
	height: 20px;
	width: 20px;
	float: left;
}

.bumper {
	/* Specjalnie pozostawione puste */
}

.row {
	width: 310px;
}

#row-0, #row-22, #row-23 {
	display: none;
}

div#well div div:first-child {
	display: none;
}

.clearfloat {
	clear: both;
}

.buttons {
	display: block;
	min-width: 180px;
	margin-bottom: 3px;
}

.controls {
	width: 20px;
	text-align: right;
}
.bold {
	/* Specjalnie pozostawione puste */
}
.score {
	text-align: right;
	display: block;
	margin: 0px;
	padding: 0px 5px;
	overflow: hidden;
}

#footer {
	width: 99.9%;
	height: 40px;
	margin-top: 60px;
	padding: 0%;
}

#footer ul {
	margin-right: 20px;
}

#footer ul li {
	display: inline;
	float: right;
	margin-left: 20px;
}

#overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}
#ticker {
	display: none;
	position: relative;
	top: 80px;
	margin: 0% auto;
	width: 250px;
	height: 50px;
	text-align: center;
	padding: 0%;
	z-index: 10;
}

.gui-prompts {
	display: block;
	position: relative;
	width: 250px;
	height: 250px;
	left: 0px;
	top: 120px;
	margin: 0% auto;
	
}
#init-screen {
	
}

#pause-screen {
	
}

#end-screen {
	
}

fieldset#te {
	position: relative;
	top: 40px;
	left: 10px;
	width: 160px;
	height: auto;
	display: none;
}

fieldset#monitor {
	position: relative;
	top: 20px;
	left: 10px;
	width: 200px;
	height: auto;
}
#next-piece {
	width: 90px;
	margin: 8px 0px 12px 50px;
}

legend {
	padding: 3px 6px;
}
